/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}
nav,
footer,
header,
aside {
    display: block;
}
html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
    font-family: inherit;
}
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}
/*--------------------*/

body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator-item-wrapper {
    display: inline-flex;
    flex-direction: column;
    position: relative;
}
.calculator-container {
    display: flex;
    align-items: flex-end;
}
.calculator-item {
    margin-right: 50px;
}
.last {
    margin-right: 0;
}
.calculator-wrapper {
    background: #ffffff;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
    border-radius: 9px 0px 9px 9px;
    max-width: 1150px;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0px 20px;
    position: relative;
}
.calculator-item-text {
    margin-bottom: 7px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 148.9%;
    color: #000000;
}
.calculator-button {
    background: #3ab6f4;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 148.9%;
    text-transform: uppercase;
    color: #ffffff;
    width: 220px;
    height: 50px;
    display: inline-block;
    margin-left: 77px;
    text-align: center;
    padding: 15px 0px;
    border-radius: 9px;
}

.calculator-item-weight {
    width: 135px;
    height: 50px;
    background: #ffffff;
    border: 1px solid #cdcdcd;
    border-radius: 9px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 148.9%;
    color: #000000;
    position: relative;
    padding: 0 0 0 11px;
}
.calculator-item-select {
    width: 160px;
    height: 50px;
    background: #ffffff;
    border: 2px solid #cdcdcd;
    border-radius: 9px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 148.9%;
    color: #000000;
    -webkit-appearance: none;
    padding: 0 0 0 15px;
}

.calculator-item-from {
    border: 2px solid #cdcdcd;
    border-radius: 9px;
    width: 165px;
    height: 50px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 148.9%;
    color: #000000;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.calculator-item-price {
    background: #f8ebe1;
    border: 2px solid #cdcdcd;
    border-radius: 9px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 148.9%;
    color: #000000;
    width: 165px;
    height: 50px;
    padding: 0 0 0 15px;
}
.calculator-item-range {
    position: absolute;
    left: 0;
    bottom: 0;
}
.calculator-item-range[type="range"] {
    -webkit-appearance: none;
    height: 3px;
    width: 135px;
    border-radius: 9px;
    border: 1px solid #cdcdcd;
}
.calculator-item-range[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    background: #bebebe;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    position: relative;
    border: 5px solid white;
}
.calculator-item-size {
    position: absolute;
    right: 10px;
    top: 13px;
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 15px;
    line-height: 148.9%;
    color: #000000;
    opacity: 0.7;
}

@media screen and (max-width: 1110px) {
    .calculator-item {
        margin-right: 20px;
    }
    .calculator-button {
        margin-left: 0px;
    }
}

@media screen and (max-width: 996px) {
    .calculator-item-weight {
        width: 110px;
        height: 45px;
    }
    .calculator-item-range[type="range"] {
        width: 110px;
    }
    .calculator-item-select {
        width: 110px;
        height: 45px;
    }
    .calculator-item-price {
        width: 110px;
        height: 45px;
    }
}

.calculator-item-additional-text {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 148.9%;
    text-align: center;
    color: #878787;
    margin-top: 17px;
    margin-bottom: 15px;
}
.calculator-item-additional {
    width: 415px;
    height: 144px;
    position: absolute;
    left: 0;
    top: -130px;
    background: #efefef;
    border-radius: 9px;
    flex-direction: column;
    align-items: center;
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s ease;
}

.calculator-item-additional.active {
    opacity: 1;
    visibility: visible;
}

.calculator-item-additional-size-text {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 148.9%;
    text-align: center;
    color: #878787;
    margin-bottom: 5px;
}
.calculator-item-additional-sizes {
    display: flex;
}
.calculator-item-additional-size-container {
    width: 100px;
    margin-right: 21px;
}

.calculator-item-additional-size-container:last-child {
    margin-right: 0;
}

.calculator-item-additional-size-wrapper {
    position: relative;
    display: flex;
}
.calculator-item-additional-size-sm {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 148.9%;
    color: #878787;
    opacity: 0.7;
    position: absolute;
    right: 6.25px;
    top: 10px;
}
.calculator-item-additional-size-input {
    width: 100px;
    height: 36px;
    border-width: 2px 2px 0px 2px;
    border-style: solid;
    border-color: #cdcdcd;
    border-radius: 9px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 148.9%;
    color: #878787;
    padding-left: 9px;
}
.calculator-item-additional-size-input.error {
    color: red;
}
.calculator-item-additional-size-range[type="range"] {
    -webkit-appearance: none;
    height: 3px;
    width: 100px;
    border-radius: 9px;
    border: 1px solid #cdcdcd;
    position: absolute;
    left: 0;
    bottom: 0;
}
.calculator-item-additional-size-range[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: #bebebe;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    position: relative;
    border: 5px solid white;
}
@media screen and (max-width: 810px) {
    .calculator-container {
        flex-direction: column;
        align-items: center;
    }
    .calculator-item {
        margin-bottom: 25px;
    }
    .calculator-item-additional {
        top: -160px;
    }
    .calculator-item-text {
        text-align: center;
    }
    .calculator-item-weight {
        width: 239px;
        height: 50px;
    }

    .calculator-item-from{
        width: 239px;
        height: 50px;
    }

    .calculator-item-range[type="range"] {
        width: 239px;
    }
    .calculator-item-select {
        width: 239px;
        height: 50px;
    }
    .calculator-item-price {
        width: 239px;
    }
    .calculator-item-additional {
        position: relative;
        margin-bottom: 18px;
        left: 0;
        top: 0;
    }
    .calculator-button {
        width: 239px;
        margin-right: 20px;
    }
    .calculator-item-additional-text {
        font-size: 12px;
    }
    .calculator-item-additional-size-input {
        width: 69px;
    }
    .calculator-item-additional-size-range[type="range"] {
        width: 69px;
    }
    .calculator-item-additional-size-container {
        width: 69px;
    }
    .calculator-wrapper {
        width: 330px;
    }
    .calculator-item-additional {
        width: 290px;
    }
}
