/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

.calculator-item-wrapper{
    display: inline-flex;
    flex-direction: column;
    position: relative;
}
.calculator-container{
    display: flex;
    align-items: flex-end;
}
.calculator-item{
   margin-right: 50px;
}
.last{
    margin-right: 0;
}
.calculator-wrapper{ 
    background: #FFFFFF;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
    border-radius: 9px 0px 9px 9px;
    max-width: 1150px;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0px 20px;
}
.calculator-item-text{
    margin-bottom: 7px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 148.9%;
    color: #000000;
}
.calculator-button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    max-width: 220px;
    max-height: 50px;
    color: white;
    background: #F0AB75;
    border-radius: 9px;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    line-height: 20.85px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    padding: 15px;
    margin-left: 61px;
}
.calculator-item-weight{
    width: 135px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #CDCDCD;
    border-radius: 9px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 148.9%;
    color: #000000;
    position: relative;
    padding: 0 0 0 11px;
}
.calculator-item-select{
    width: 160px;
    height: 50px;
    background: #FFFFFF;
    border: 2px solid #CDCDCD;
    border-radius: 9px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 148.9%;
    color: #000000;
    -webkit-appearance: none;
    padding: 0 0 0 15px;
}
.calculator-item-price{
    background: #F8EBE1;
    border: 2px solid #CDCDCD;
    border-radius: 9px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 148.9%;
    color: #000000;
    width: 165px;
    height: 50px;
    padding: 0 0 0 15px;
}
.calculator-item-range{
    position: absolute;
    left: 0;
    bottom: 0;
}
.calculator-item-range[type=range]{
    -webkit-appearance: none;
    height: 3px;
    width: 135px;
    border-radius: 9px;
    border: 1px solid #CDCDCD;
}
.calculator-item-range[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    background: #BEBEBE;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    position: relative;
    border: 5px solid white;
}
.calculator-item-size{
    position: absolute;
    right: 10px;
    top: 13px;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 15px;
    line-height: 148.9%;
    color: #000000;
    opacity: 0.7;
}

@media screen and (max-width: 1183px){
    .calculator-container{
        flex-direction: column;
        align-items: initial;
    }
    .calculator-wrapper{
        align-items: initial;
        justify-content: initial;
    }
    .calculator-button{
        margin-left: 0;
        margin-top: 30px;
    }
    .calculator-item{
        margin: 30px 0px 0px 0px;
    }
    .first{
        margin-top: 0;
    }
}